@import url("module.css");

.application{
    height: 100vh;

    display: flex;

    background-color: var(--color-application-background);
}

.left{
    flex: 1;

    padding: 60px 30px;

    overflow: auto;
}

.container{
    width: 100%;
    max-width: 500px;

    margin: auto;

    display: flex;
    flex-direction: column;
    gap: 30px;
}

.onglet-box{
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.onglet-box > i{
    color: var(--color-onglet-box-color);
}

.onglet{
    padding: 5px 10px;

    background-color: transparent;

    border: none;

    font-size: 1em;
    font-weight: bold;
    color: var(--color-onglet-color);
}

.a-onglet{
    color: var(--color-a-onglet-color);
}

.box{
    width: 100%;
    
    padding: 30px;

    display: flex;
    flex-direction: column;
    gap: 35px;

    position: relative;

    background-color: var(--color-box-background);
    box-shadow: 0 0 0 5px var(--color-box-box-shadow);
    border-radius: 40px;
}

.onglet-layout{
    width: 100%;

    display: none;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.onglet-content{
    width: 100%;

    position: relative;

    border-radius: 20px;
}

.a-onglet-layout{
    display: flex;

    animation: 2s sm forwards;
}

@keyframes sm {
    from{
        opacity: 0;
    } to {
        opacity: 1;
    }
}

.box .onglet-container:first-child .onglet-content{
    padding: 20px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    background-color: var(--color-box-onglet-container-first-child-onglet-content-background);

    text-align: center;
}

.box .onglet-container:first-child .onglet-layout:first-child .onglet-content{
    padding: 0;

    display: block;
}

.box .onglet-container:first-child .onglet-layout:nth-child(2) .onglet-content{
    position: relative;
}

.onglet-content-logo{
    font-size: 5em;
}

.dropzone > i{
    color: #45d437;
}

.box .onglet-container:first-child .onglet-layout:nth-child(2) > .onglet-content > i{
    color: #ff0000;
}

.onglet-layout:nth-child(3) > .onglet-content > i{
    color: #0077ff;
}

.onglet-layout:nth-child(4) > .onglet-content > i{
    color: #45d437;
}

.onglet-layout:first-child{
    padding: 0;
}

.dropzone{
    width: 100%;

    margin: auto;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;

    position: relative;

    background-color: transparent;
    box-shadow: 0 0 0 5px var(--color-dropzone-box-shadow);

    border: 2px dashed var(--color-dropzone-border);
    border-radius: 20px;

    text-align: center;
}

.a-dropzone{
    box-shadow: 0 0 0 5px var(--color-a-dropzone-box-shadow);

    border: 2px dashed var(--color-a-dropzone-border);
}

.dropzone-output{
    display: none;
}

.a-dropzone-output{
    display: block;
}

.dropzone-content{
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 20px;

    text-align: center;
}

.a-dropzone-content{
    display: none;
}

.dropzone-content > span:nth-child(2){
    font-weight: bold;
}

.dropzone-btn-submit{
    display: none;
}

.a-dropzone-btn-submit{
    display: block;
}

.dropzone-btn-cancel{
    display: none;
    
    position: absolute;
    top: 20px;
    right: 20px;
}

.a-dropzone-btn-cancel{
    display: flex;
}

.onglet-btn-cancel{
    position: absolute;
    top: 20px;
    right: 20px;
}

.dropzone-option{
    width: 100%;

    padding: 30px;

    display: none;
    flex-direction: column;
    gap: 30px;

    background-color: var(--color-dropzone-option-background);
    border: 2px solid var(--color-dropzone-option-border);
    border-radius: 20px;
}

.a-dropzone-option{
    display: flex;

    animation: 2s sm forwards;
}

.dropzone-option > span {
    font-size: 1.2em;
    font-weight: bold;
}

.dropzone-table{
    padding: 20px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 15px;

    background-color: var(--color-dropzone-table-background);

    border-radius: 20px;
}

.dropzone-table > div{
    display: flex;
    align-items: center;
}

.dropzone-table > div:nth-child(odd){
    justify-content: flex-start;
}

.dropzone-table > div:nth-child(even){
    justify-content: flex-end;
}

.error-contener{
    width: 100%;

    padding: 10px;

    border: 2px solid var(--color-error-contener-border);
    border-radius: 20px;

    text-align: center;
}

.dowl{
    width: 100%;

    padding: 30px;

    display: flex;
    flex-direction: column;
    gap: 30px;

    border: 2px solid var(--color-dowl-border);
    border-radius: 20px;
}

.dowl > span {
    font-size: 1.2em;
    font-weight: bold;
}

.dowl-table{
    padding: 20px;

    background-color: var(--color-dowl-table-background);

    border-radius: 20px;
}

.dowl-table-head, .dowl-table-body{
    margin: 0 0 2px 0;
    padding: 0 15px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dowl-table-body:last-child{
    margin: none;
}

.dowl-table-head{
    margin: 0 0 10px 0;
    padding: 5px 15px;

    background-color: var(--color-dowl-table-head-background);

    border-radius: 10px;

    color: var(--color-dowl-table-head-color);
}

.dowl-table-body > div:nth-child(2){
    width: 77.55px;

    padding: 4px;

    border-radius: 5px;

    text-align: center;
}

.dowl-table-body > div:nth-child(2):hover{
    background-color: var(--color-dowl-table-body-background-hover);
}

.dowl a{
    text-decoration: none;
    color: var(--color-dowl-a-color);
}

.pdfsection{
    display: none;
}

.a-pdfsection{
    display: flex;
}

.title{
    margin: 0 0 6px 0;
    font-size: 1.6em;
}

.subtitle{
    font-size: 1em;
}

.description{
    text-align: center;
    font-size: 1em;
    color: var(--color-description-color);
}

.onglet-container{
    width: 100%;
}






.lod{
    width: 200px;
    height: 10px;

    display: flex;
    justify-content: flex-start;
    align-items: stretch;

    background: linear-gradient(to left , var(--color-lod-background1), var(--color-lod-background2));

    box-shadow: 0 0 0 5px var(--color-lod-box-shadow);

    border-radius: 20px;

    overflow: hidden;
}

.lod-cursor{
    width: 0%;

    background: var(--color-lod-cursor-background);

    border-radius: 20px;

    box-shadow: 0 0 30px 0 var(--color-lod-cursor-box-shadow);
}










.right{
    width: 0px;
    
    padding: 0;

    display: flex;

    position: relative;

    background-color: var(--color-right-background);
    box-shadow: 0 0 10px 0 var(--color-right-box-shadow);
}

.a-right{
    width: 30%;
}

.sl{
    padding: 10px;

    position: absolute;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);

    background-color: var(--color-sl-background);

    border: none;
    border-radius: 20px 0 0 20px;

    /* box-shadow: 0 0 10px 0#dddddd; */

    font-size: 1em;

    cursor: pointer;
}

.right > div{
    padding: 0px;

    flex: 1;

    overflow: auto;
}

.a-right > div{
    padding: 35px;
}



















/* Dark mode */

.application.dark-mode{
    background-color: var(--color-application-dark-mode-background);
}

.application.dark-mode .box{
    background-color: var(--color-application-dark-mode-box-background);
    
    box-shadow: 0 0 0 5px var(--color-application-dark-mode-box-box-shadow);

    color : #fff;
}

.application.dark-mode .box .onglet-container:first-child .onglet-content{
    background-color: var(--color-application-dark-mode-box-onglet-container-first-child-onglet-content-background);
}

.application.dark-mode .dropzone{
    border: 2px dashed var(--color-application-dark-mode-dropzone-border);

    box-shadow:  0 0 0 5px var(--color-application-dark-mode-dropzone-box-shadow);

    background-color: transparent;
}

.application.dark-mode .a-dropzone{
    box-shadow: 0 0 0 5px var(--color-application-dark-mode-a-dropzone-box-shadow);

    border: 2px dashed var(--color-application-dark-mode-a-dropzone-border);
}

.application.dark-mode .onglet.a-onglet{
    color: var(--color-application-dark-mode-onglet-a-onglet-color);
}

.application.dark-mode .dropzone-btn{
    background-color: var(--color-application-dark-mode-dropzone-btn-background);

    box-shadow: 0 0 0 5px var(--color-application-dark-mode-dropzone-btn-box-shadow);
}

.application.dark-mode .dropzone-btn:hover{
    box-shadow: 0 0 0 10px var(--color-application-dark-mode-dropzone-btn-hover-box-shadow);
}

.application.dark-mode .dropzone-option{
    background-color: var(--color-application-dark-mode-dropzone-option-background);
    
    border: 2px solid var(--color-application-dark-mode-dropzone-option-border);

    color : var(--color-application-dark-mode-dropzone-option-color);
}

.application.dark-mode .dropzone-table{
    background-color: var(--color-application-dark-mode-dropzone-table-background);
}

.application.dark-mode .lod{
    background: linear-gradient(to left , var(--color-application-dark-mode-lod-background1), var(--color-application-dark-mode-lod-background2));

    box-shadow: 0 0 0 5px var(--color-application-dark-mode-lod-box-shadow);
}

.application.dark-mode .error-contener, .application.dark-mode .dowl{
    border: 2px solid var(--color-application-dark-mode-error-contener-application-dark-mode-dowl-border);
}

.application.dark-mode .dowl a{
    color: var(--color-application-dark-mode-dowl-a-color);
}

.application.dark-mode .dowl-table{
    background-color: var(--color-application-dark-mode-dowl-table-background);
}

.application.dark-mode .dowl-table-body > div:nth-child(2):hover{
    background-color: var(--color-application-dark-mode-dowl-table-body-background);
}

.application.dark-mode .right{
    background-color: var(--color-applicationdark-mode-right-background);

    box-shadow: 0 0 10px 0 var(--color-application-dark-mode-right-box-shadow);

    color: var(--color-application-dark-mode-right-color);
}

.application.dark-mode .sl{
    background-color: var(--color-application-dark-mode-sl-background);

    color: var(--color-application-dark-mode-sl-color);
}