@import url("module.css");

.application{
    height: 100vh;

    display: flex;

    background-color: #f0f0f4;
}

.left{
    flex: 1;

    padding: 60px 30px;

    overflow: auto;
}

.container{
    width: 100%;
    max-width: 500px;

    margin: auto;

    display: flex;
    flex-direction: column;
    gap: 30px;
}

.onglet-box{
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.onglet-box > i{
    color: #a3a3a3;
}

.onglet{
    padding: 5px 10px;

    background-color: transparent;

    border: none;

    font-size: 1em;
    font-weight: bold;
    color: #a3a3a3;
}

.a-onglet{
    color: #000000;
}

.box{
    width: 100%;
    
    padding: 30px;

    display: flex;
    flex-direction: column;
    gap: 35px;

    position: relative;

    background-color: #ffffff;
    box-shadow: 0 0 0 5px #f9f9fb;
    border-radius: 40px;
}

.onglet-layout{
    width: 100%;

    display: none;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.onglet-content{
    width: 100%;

    position: relative;

    border-radius: 20px;
}

.a-onglet-layout{
    display: flex;

    animation: 2s sm forwards;
}

@keyframes sm {
    from{
        opacity: 0;
    } to {
        opacity: 1;
    }
}

.box .onglet-container:first-child .onglet-content{
    padding: 20px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    background-color: #f0f0f4;

    text-align: center;
}

.box .onglet-container:first-child .onglet-layout:first-child .onglet-content{
    padding: 0;

    display: block;
}

.box .onglet-container:first-child .onglet-layout:nth-child(2) .onglet-content{
    position: relative;
}

.onglet-content-logo{
    font-size: 5em;
}

.dropzone > i{
    color: #45d437;
}

.box .onglet-container:first-child .onglet-layout:nth-child(2) > .onglet-content > i{
    color: #ff0000;
}

.onglet-layout:nth-child(3) > .onglet-content > i{
    color: #0077ff;
}

.onglet-layout:nth-child(4) > .onglet-content > i{
    color: #45d437;
}

.onglet-layout:first-child{
    padding: 0;
}

.dropzone{
    width: 100%;

    margin: auto;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;

    position: relative;

    background-color: transparent;
    box-shadow: 0 0 0 5px #f0f0f4;

    border: 2px dashed #dadada;
    border-radius: 20px;

    text-align: center;
}

.a-dropzone{
    box-shadow: 0 0 0 5px #aed4ff;

    border: 2px dashed #0077ff;
}

.dropzone-output{
    display: none;
}

.a-dropzone-output{
    display: block;
}

.dropzone-content{
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 20px;

    text-align: center;
}

.a-dropzone-content{
    display: none;
}

.dropzone-content > span:nth-child(2){
    font-weight: bold;
}

.dropzone-btn-submit{
    display: none;
}

.a-dropzone-btn-submit{
    display: block;
}

.dropzone-btn-cancel{
    display: none;
    
    position: absolute;
    top: 20px;
    right: 20px;
}

.a-dropzone-btn-cancel{
    display: flex;
}

.onglet-btn-cancel{
    position: absolute;
    top: 20px;
    right: 20px;
}

.dropzone-option{
    width: 100%;

    padding: 30px;

    display: none;
    flex-direction: column;
    gap: 30px;

    background-color: #ffffff;
    border: 2px solid #dadada;
    border-radius: 20px;
}

.a-dropzone-option{
    display: flex;

    animation: 2s sm forwards;
}

.dropzone-option > span {
    font-size: 1.2em;
    font-weight: bold;
}

.dropzone-table{
    padding: 20px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 15px;

    background-color: #f0f0f4;

    border-radius: 20px;
}

.dropzone-table > div{
    display: flex;
    align-items: center;
}

.dropzone-table > div:nth-child(odd){
    justify-content: flex-start;
}

.dropzone-table > div:nth-child(even){
    justify-content: flex-end;
}

.error-contener{
    width: 100%;

    padding: 10px;

    border: 2px solid #dadada;
    border-radius: 20px;

    text-align: center;
}

.dowl{
    width: 100%;

    padding: 30px;

    display: flex;
    flex-direction: column;
    gap: 30px;

    border: 2px solid #dadada;
    border-radius: 20px;
}

.dowl > span {
    font-size: 1.2em;
    font-weight: bold;
}

.dowl-table{
    padding: 20px;

    background-color: #f0f0f4;

    border-radius: 20px;
}

.dowl-table-head, .dowl-table-body{
    margin: 0 0 2px 0;
    padding: 0 15px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dowl-table-body:last-child{
    margin: none;
}

.dowl-table-head{
    margin: 0 0 10px 0;
    padding: 5px 15px;

    background-color: #ffbe00;

    border-radius: 10px;

    color: #000000;
}

.dowl-table-body > div:nth-child(2){
    width: 77.55px;

    padding: 4px;

    border-radius: 5px;

    text-align: center;
}

.dowl-table-body > div:nth-child(2):hover{
    background-color: #dadada;
}

.dowl a{
    text-decoration: none;
    color: #000000;
}

.pdfsection{
    display: none;
}

.a-pdfsection{
    display: flex;
}

.title{
    margin: 0 0 6px 0;
    font-size: 1.6em;
}

.subtitle{
    font-size: 1em;
}

.description{
    text-align: center;
    font-size: 1em;
    color: #a3a3a3;
}

.onglet-container{
    width: 100%;
}






.lod{
    width: 200px;
    height: 10px;

    display: flex;
    justify-content: flex-start;
    align-items: stretch;

    background: linear-gradient(to left , #f0f0f4, #fff);

    box-shadow: 0 0 0 5px #f9f9fb;

    border-radius: 20px;

    overflow: hidden;
}

.lod-cursor{
    width: 0%;

    background: #ffbe00;

    border-radius: 20px;

    box-shadow: 0 0 30px 0 #ffbe00;
}










.right{
    width: 0px;
    
    padding: 0;

    display: flex;

    position: relative;

    background-color: #fff;
    box-shadow: 0 0 10px 0#dddddd;
}

.a-right{
    width: 30%;
}

.sl{
    padding: 10px 10px 10px 5px;

    position: absolute;
    left: -34px;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);

    background-color: #fff;

    border: none;
    border-radius: 0 20px 20px 0;

    /* box-shadow: 0 0 10px 0#dddddd; */

    font-size: 1em;
    writing-mode: vertical-rl;
    

    cursor: pointer;
}

.right > div{
    padding: 0px;

    flex: 1;

    overflow: auto;
}

.a-right > div{
    padding: 35px;
}



















/* Dark mode */

.application.dark-mode{
    background-color: #1c1b22;
}

.application.dark-mode .box{
    background-color: #2b2a33;
    
    box-shadow: 0 0 0 5px #23222b;

    color : #fff;
}

.application.dark-mode .box .onglet-container:first-child .onglet-content{
    background-color: #1c1b22;
}

.application.dark-mode .dropzone{
    border: 2px dashed #2b2a33;

    box-shadow:  0 0 0 5px #1c1b22;

    background-color: transparent;
}

.application.dark-mode .a-dropzone{
    box-shadow: 0 0 0 5px #526173;

    border: 2px dashed #004ea8;
}

.application.dark-mode .onglet.a-onglet{
    color: #ffffff;
}

.application.dark-mode .dropzone-btn{
    background-color: #ffbe00;

    box-shadow: 0 0 0 5px #9d7600;
}

.application.dark-mode .dropzone-btn:hover{
    box-shadow: 0 0 0 10px #9d7600;
}

.application.dark-mode .dropzone-option{
    background-color: #2b2a33;
    
    border: 2px solid #42414d;

    color : #fff;
}

.application.dark-mode .dropzone-table{
    background-color: #1c1b22;
}

.application.dark-mode .lod{
    background: linear-gradient(to left , #1c1b22, #2b2a33);

    box-shadow: 0 0 0 5px #23222b;
}

.application.dark-mode .error-contener, .application.dark-mode .dowl{
    border: 2px solid #42414d;
}

.application.dark-mode .dowl a{
    color: #fff;
}

.application.dark-mode .dowl-table{
    background-color: #1c1b22;
}

.application.dark-mode .dowl-table-body > div:nth-child(2):hover{
    background-color: #2b2a33;
}

.application.dark-mode .right{
    background-color: #2b2a33;

    box-shadow: 0 0 10px 0 #23222b;

    color: #a3a3a3;
}

.application.dark-mode .sl{
    background-color: #2b2a33;

    color: #fff;
}