#switch-button{
    display:none;
}

#switch-button ~ label{
    width: 50px;
    height: 30px;

    padding: 4px 5px;

    float: right;

    border:2px solid #dadada;
    border-radius:30px;
    
    cursor:pointer;
}

#switch-button:checked ~ label{
    border:2px solid #42414d;
}

.fa-sun{
    color:#ffbe00;
    font-size: 18px;
    text-shadow: 0px 0px 20px #ffbe00;
    transform: translateX(18px);
    transition:.3s;
}

.fa-moon{
    color: #ffffff;
    font-size: 18px;
    text-shadow: 0px 0px 20px #ffffff;
    transform: translateX(0px);
    opacity: 0;
}

#switch-button:checked ~ label > .fa-sun{
    opacity: 0;
    transform: translateX(0px);
}

#switch-button:checked ~ label > .fa-moon{
    opacity:1;
    transform: translateX(-18px);
}

#switch-button:checked ~ .content{
    background: black;
    color: white;
}




.btn1{
    padding: 8px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: #ffbe00;
    border: none;
    border-radius: 20px;

    font-size: 1em;
    text-decoration: none;
    color: #000000;

    animation: 1.5s spin forwards;
    cursor: pointer;
}

.btn1:hover{
    box-shadow: 0 0 0 5px #ffe38f;
}

@keyframes spin {
    0%{
        transform: rotate(0deg);
    } 80% {
        transform: rotate(450deg);
    } 100% {
        transform: rotate(360deg);
    }
}

/* Darkmode */

.application.dark-mode .btn1:hover{
    box-shadow: 0 0 0 5px #9d7600;
}

.btn2{
    padding: 10px 15px;
    
    display: block;
    
    background-color: #ffbe00;
    box-shadow: 0 0 0 5px #ffe38f;
    border: none;
    border-radius: 20px;

    font-size: 1em;

    cursor: pointer;
}

/* Darkmode */ 

.btn2:hover{
    box-shadow: 0 0 0 10px #ffe38f;
}

.application.dark-mode .btn2{
    box-shadow: 0 0 0 5px #9d7600;
}

.application.dark-mode .btn2:hover{
    box-shadow: 0 0 0 10px #9d7600;
}







input[type='checkbox']/*, input[type='radio']*/{
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type="checkbox"]{
    width: 50px;
    padding: 4px 5px;

    background-color: transparent;
    border:2px solid #dadada;
    border-radius: 20px;

    cursor: pointer;
}

input[type="checkbox"]:before{
    content: "";

    width: 18px;
    height: 18px;

    display: block;

    background-color: #000000;

    box-shadow:0px 0px 20px transparent;

    border-radius: 50%;

    transition: 200ms linear;
}

input[type="checkbox"]:checked:before{
    transform: translateX(18px);

    background-color: #ffbe00;

    box-shadow: 0px 0px 20px #ffbe00;
}

/* Darkmode */

.application.dark-mode input[type="checkbox"]:before{
    background-color: #ffffff;

    box-shadow: 0px 0px 20px #ffffff;
}

.application.dark-mode input[type="checkbox"]:checked:before{
    transform: translateX(18px);

    background-color: #ffbe00;

    box-shadow: 0px 0px 20px #ffbe00;
}

.application.dark-mode input[type="checkbox"]{
    border: 2px solid #42414d;
}