*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    font-family: 'Fira Sans', sans-serif;

    scroll-behavior: smooth !important;
    transition: 300ms;
}


:root{
    /*Color palette*/
    --color-primary:   #000;
    --color-secondary:  #3a3a3a;
    --color-tertiary: #e4e4ff;

    --color-background-layer1: #fff;
    --color-background-layer2: #f0f0f4;
    --color-background-layer3: #dadada;

    --color-shadow: #eeeeee;
    
    --color-text-black: #000000;
    --color-text-white: #ffffff;

    /*Color palette for loader.css*/
    --color-loader-layout-background: #eeeeee;
    --color-loader-box-background: #ffffff;
    --color-loader-background: #ffe38f;
    --color-loader-before-background: #ffbe00;

    /*Color palette for module.css*/
    --color-switch-button-border: #dadada;
    --color-switch-button-checked-border: #42414d;
    --color-fa-sun-color: #ffbe00;
    --color-fa-sun-text-shadow: #ffbe00;
    --color-fa-moon-color: #ffffff;
    --color-fa-moon-text-shadow: #ffffff;
    --color-switch-button-checked-background: #000000;
    --color-switch-button-checked-color: #ffffff;
    --color-btn1-background: #ffbe00;
    --color-btn1-color: #000000;
    --color-btn1-hover: #ffe38f;
    --color-application-dark-mode-btn1-hover: #9d7600;
    --color-btn2-background: #ffbe00;
    --color-btn2-bow-shadow: #ffe38f;
    --color-btn2-hover: #ffe38f;
    --color-application-dark-mode-btn2: #9d7600;
    --color-application-dark-mode-btn2-hover: #9d7600;
    --color-input-type-checkbox-border: #dadada;
    --color-input-type-checkbox-before-background: #000000;
    --color-input-type-checkbox-checked-before-background: #ffbe00;
    --color-input-type-checkbox-checked-before-box-shadow: #ffbe00;
    --color-application-dark-mode-input-type-checkbox-before-background: #ffffff;
    --color-application-dark-mode-input-type-checkbox-before-box-shadow: #ffffff;
    --color-application-dark-mode-input-type-checkbox-checked-before-background: #ffffff;
    --color-application-dark-mode-input-type-checkbox-checked-before-box-shadow: #ffffff;
    --color-application-dark-mode-input-type-checkbox-border: #42414d;

    /*Color palette for index.css*/
    --color-application-background: #f0f0f4;
    --color-onglet-box-color: #a3a3a3;
    --color-onglet-color: #a3a3a3;
    --color-a-onglet-color: #000000;
    --color-box-background: #ffffff;
    --color-box-box-shadow: #f9f9fb;
    --color-box-onglet-container-first-child-onglet-content-background: #f0f0f4;
    --color-dropzone-box-shadow: #f0f0f4;
    --color-dropzone-border: #dadada;
    --color-a-dropzone-box-shadow: #aed4ff;
    --color-a-dropzone-border: #0077ff;
    --color-dropzone-option-background: #ffffff;
    --color-dropzone-option-border: #dadada;
    --color-dropzone-table-background: #f0f0f4;
    --color-error-contener-border: #dadada;
    --color-dowl-border: #dadada;
    --color-dowl-table-background: #f0f0f4;
    --color-dowl-table-head-background: #ffbe00;
    --color-dowl-table-head-color: #000000;
    --color-dowl-table-body-background-hover: #dadada;
    --color-dowl-a-color: #000000;
    --color-description-color: #a3a3a3;
    --color-lod-background1: #f0f0f4;
    --color-lod-background2: #ffffff;
    --color-lod-box-shadow: #f9f9fb;
    --color-lod-cursor-background: #ffbe00;
    --color-lod-cursor-box-shadow: #ffbe00;
    --color-right-background: #ffffff;
    --color-right-box-shadow: #dddddd;
    --color-sl-background: #ffffff;

    /*Color palette for index.css (Dark Mode)*/
    --color-application-dark-mode-background: #1c1b22;
    --color-application-dark-mode-box-background: #2b2a33;
    --color-application-dark-mode-box-box-shadow: #23222b;
    --color-application-dark-mode-box-onglet-container-first-child-onglet-content-background: #1c1b22;
    --color-application-dark-mode-dropzone-border: #2b2a33;
    --color-application-dark-mode-dropzone-box-shadow: #1c1b22;
    --color-application-dark-mode-a-dropzone-box-shadow: #526173;
    --color-application-dark-mode-a-dropzone-border: #004ea8;
    --color-application-dark-mode-onglet-a-onglet-color: #ffffff;
    --color-application-dark-mode-dropzone-btn-background: #ffbe00;
    --color-application-dark-mode-dropzone-btn-box-shadow: #9d7600;
    --color-application-dark-mode-dropzone-btn-hover-box-shadow: #9d7600;
    --color-application-dark-mode-dropzone-option-background: #2b2a33;
    --color-application-dark-mode-dropzone-option-border: #42414d;
    --color-application-dark-mode-dropzone-option-color: #ffffff;
    --color-application-dark-mode-dropzone-table-background: #1c1b22;
    --color-application-dark-mode-lod-background1: #1c1b22;
    --color-application-dark-mode-lod-background2: #2b2a33;
    --color-application-dark-mode-lod-box-shadow: #23222b;
    --color-application-dark-mode-error-contener-application-dark-mode-dowl-border: #42414d;
    --color-application-dark-mode-dowl-a-color: #ffffff;
    --color-application-dark-mode-dowl-table-background: #1c1b22;
    --color-application-dark-mode-dowl-table-body-background: #2b2a33;
    --color-applicationdark-mode-right-background: #2b2a33;
    --color-application-dark-mode-right-box-shadow: #23222b;
    --color-application-dark-mode-right-color: #a3a3a3;
    --color-application-dark-mode-sl-background: #2b2a33;
    --color-application-dark-mode-sl-color: #ffffff;

}
